SERP_API_KEY= "Get your API from Serp-Api.com" #Use for GoogleMaps Scraper
APOLLO_API_KEY= "Get your API From Apollo.io" #Use Company_Analyzer
EXPLORIUM_API_KEY= "Get your API From Explorium.com" #Use Company_Analyzer
SCRAPINGBEE_API_KEY= "Get your API From ScarpingBee.com" #Use Company_Analyzer
SCRAPINGBEE_2ND_API_KEY= "Get your API From ScrapingBee.com" #Use Company_Analyzer
CLAY_API_KEY= "Get your API From Clay" #Use Company_Analyzer
KLAZIFY_API_KEY= "Get your API From Klazify" #Use Company_Analyzer
